@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  font-family: "Roboto", sans-serif;
}

body {
  background: rgb(245, 244, 244);
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  min-height: auto;
}

.Nav {
  position: absolute;
  top: 0%;
  background: black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  color: white;
}

.Nav button {
  position: absolute;
  right: 10%;
  background: red;
  color: white;
  border-radius: 5px;
  padding: 8px 18px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
}

.width {
  margin-top: 85px;
  width: 35%;
  background: white;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0px 0px 8px 3px rgb(201, 200, 200);
  margin-bottom: 20px;
}

#radio-expenses {
  margin: 10px;
  margin-left: 20%;
}

#radio-income {
  margin: 10px;
  margin-right: 20px;
}

.text {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 7px 0px;
  outline: none;
  border: 1px solid rgb(187, 185, 185);
  border-radius: 5px;
  font-size: 1rem;
}

.FORM {
  position: absolute;
  top: 30%;
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 6px 2px rgb(201, 200, 200);
}

form label {
  font-size: 1.1rem;
}

form button {
  padding: 10px 20px;
  background: rgb(3, 3, 235);
  border: none;
  outline: none;
  color: white;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
}

form button:hover {
  background: rgb(4, 4, 187);
}

.box {
  display: flex;
  justify-content: space-between;
  background-color: #242323;
  color: white;
  padding: 5px 10px;
  margin: 10px 0px;
  border-radius: 5px;
}

.box p {
  margin: 0px 10px;
  font-size: 1.1rem;
}

.totals {
  display: flex;
  justify-content: space-between;
  padding: 7px 10px;
  border: 1px solid rgb(187, 185, 185);
  margin: 10px 0px;
  border-radius: 5px;
}

.totals p,
.totals span {
  font-weight: bold;
  font-size: 1.1rem;
}

#total-income {
  color: green;
  font-size: 1.3rem;
}

#total-expenses {
  color: red;
  font-size: 1.3rem;
}

.delete {
  outline: none;
  border: none;
  padding: 5px 8px;
  border-radius: 5px;
  background: red;
  cursor: pointer;
}

.delete img {
  width: 20px;
  filter: invert(100%);
}

.Green {
  color: #19e519;
}

.Red {
  color: red;
}

.current {
  font-size: 1.9rem;
  margin: 5px 0px 15px 0px;
}

.highlight {
  color: green;
  font-size: 2.2rem;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.mt-2 {
  margin-top: 20px;
  margin-bottom: 5px;
}

.Login {
  width: 100%;
  margin-bottom: 10px;
}

.Login input {
  width: calc(100% - 20px);
  padding: 7px 10px;
  font-size: 1rem;
  outline: none;
  border: 1.99px solid gainsboro;
  border-radius: 4px;
  margin: 10px 0px;
}

.Loader {
  position: absolute;
  top: 30%;
}

@media (max-width: 1200px) {
  .width {
    width: 50%;
  }
}

@media (max-width: 1000px) {
  .width {
    width: 60%;
  }
}

@media (max-width: 800px) {
  .width {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .Loader {
    top: calc(50% - 50px);
    height: 100px;
    width: 100px;
  }
  .Nav h1 {
    position: absolute;
    left: 5%;
    font-size: 1.9rem;
  }

  .Nav button {
    right: 5%;
  }
  .current {
    font-size: 1.7rem;
  }
  .highlight {
    font-size: 2rem;
  }
  .FORM,
  .width {
    width: calc(100% - 60px);
    box-shadow: none;
  }
}

@media (max-width: 400px) {
  .current {
    font-size: 1.5rem;
  }
  .highlight {
    font-size: 1.7rem;
  }
  .Nav h1 {
    left: 3%;
    font-size: 1.6rem;
  }
  .Nav button {
    right: 3%;
  }
  .totals {
    padding: 5px 8px;
  }
  .box p {
    font-size: 1.05rem;
  }
  .delete {
    padding: 3px 6px;
  }
  .text {
    padding: 8px;
  }
  .width {
    width: calc(100% - 30px);
    padding: 10px;
  }
}
